<div class="fixed w-full left-0 bottom-10 flex justify-center items-center">
  <a href="/" class="bg-card px-6 py-2 rounded-full shadow-sm shadow-white/30">
    <p class="text-primary/80">Volver</p>
  </a>
</div>
