<footer
  class="w-full h-20 mt-10 p-5 flex flex-col justify-center items-center border-t border-white/20 bg-background/50 text-sm text-muted-foreground"
>
  <p>
    Powered By <span class="text-white/100 text-md font-bold"
      >Padel Global Score</span
    >
  </p>
  <p>Version 9.12</p>
</footer>
