<h1 class="text-2xl font-bold mt-5 text-center text-white">Admin Panel</h1>
<div class="w-full justify-center items-center flex flex-col mt-5">
  <p>Crear Partido</p>
  <form action="" class="flex flex-col gap-2 mt-2">
    <input type="date" name="date" id="date" required />
    <input type="time" name="time" id="time" required />
    <input
      type="text"
      name="location"
      id="location"
      placeholder="Location"
      required
    />
    <input
      type="number"
      name="teamAId"
      id="teamAId"
      placeholder="Team A ID"
      required
    />
    <input
      type="number"
      name="teamBId"
      id="teamBId"
      placeholder="Team B ID"
      required
    />
    <button type="submit">Crear</button>
  </form>
</div>

<script>
  const form = document.querySelector("form") as HTMLFormElement;

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const date = form.date.value;
    const time = form.time.value;
    const location = form.location.value;
    const teamAId = form.teamAId.value;
    const teamBId = form.teamBId.value;
    const BASE_URL = import.meta.env.FINAL_BASE_URL;
    try {
      const response = await fetch(`${BASE_URL}/api/matches`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        credentials: "include",
        body: JSON.stringify({
          date,
          time,
          location,
          teamAId: parseInt(teamAId),
          teamBId: parseInt(teamBId),
        }),
      });

      if (!response.ok) {
        throw new Error("Error al crear el partido");
      }

      alert("Partido creado con éxito");
      form.reset();
      window.location.reload();
    } catch (error) {
      let message = "Ocurrió un error inesperado";
      if (error instanceof Error) message = error.message;
      alert(message);
    }
  });
</script>
