---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="min-h-3/4 flex flex-col gap-4 justify-center items-center">
    <div class="text-center text-lg">
      <p>Lo sentimos</p>
      <p>Error inesperado</p>
    </div>
    <a
      href="/"
      class="bg-card p-3 rounded-3xl shadow-sm shadow-primary/60 text-primary"
    >
      Recargar pagina
    </a>
  </div>
</Layout>
