---
export const prerender = false;

import BackButton from "../components/BackButton.astro";
import BoxHistory from "../components/react/BoxHistory";
import Layout from "../layouts/Layout.astro";
const BASE_URL = import.meta.env.FINAL_BASE_URL;
---

<Layout>
  <div class="flex flex-col text-center w-full p-5">
    <h1 class="sm:text-3xl text-2xl font-medium title-font">Historial</h1>
    <p class="text-sm text-white/70">Revise los encuentros pasados</p>
  </div>
  <BoxHistory client:load BASE_URL={BASE_URL} />
</Layout>
<BackButton />
